/* src/app/features/event/event-form/event-form.component.scss */

.event-form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .back-button {
    align-self: flex-start;
    margin-bottom: 20px;
  }
  
  .event-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  
    mat-form-field {
      width: 100%;
    }
  
    button {
      align-self: flex-end;
      margin-top: 20px;
    }
  
    mat-datepicker-toggle {
      margin-left: 10px;
    }
  
    .mat-form-field-appearance-outline .mat-form-field-outline-thickness,
    .mat-form-field-appearance-outline .mat-form-field-outline-gap {
      transition: none;
    }
  
    .mat-form-field {
      .mat-form-field-underline {
        display: none;
      }
  
      .mat-form-field-outline {
        border-color: rgba(0, 0, 0, 0.12);
      }
  
      &:hover .mat-form-field-outline {
        border-color: rgba(0, 0, 0, 0.87);
      }
  
      .mat-form-field-label {
        color: rgba(0, 0, 0, 0.87);
      }
    }
  
    mat-select {
      display: flex;
      flex-direction: column;
    }
  }
  
  .mat-raised-button {
    background-color: #3f51b5;
    color: #fff;
  
    &:hover {
      background-color: #303f9f;
    }
  }
  