<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-start mb-3">
    <h2>Modifier Congé</h2>
    <button type="button" class="btn btn-primary" [routerLink]="['/conge']">Retour</button>
  </div>
  <form class="custom-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
      <label for="dateDebut">Date de Début</label>
      <input type="date" class="form-control" id="dateDebut" name="dateDebut" [(ngModel)]="formattedDateDebut" required>
    </div>
    <div class="form-group">
      <label for="dateFin">Date de Fin</label>
      <input type="date" class="form-control" id="dateFin" name="dateFin" [(ngModel)]="formattedDateFin">
    </div> 
    <br>
    <button type="submit" class="btn btn-success">Enregistrer les modifications</button>
  </form>
</div>
