mes conge 

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Table Hover</h4>
        <div class="table-responsive">
            <table class="table table-hover align-middle text-nowrap table-bordered">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4">#</th>
                        <th class="text-dark font-medium fs-4">First Name</th>
                        <th class="text-dark font-medium fs-4">Last Name</th>
                        <th class="text-dark font-medium fs-4">Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let tr of trow; index as i'>
                        <td>
                            {{ i + 1 }}
                        </td>
                        <td>
                            {{tr.fname}}
                        </td>
                        <td>
                            {{tr.lname}}
                        </td>
                        <td>
                            {{tr.uname}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<button type="button"  class="btn btn-primary btn-space" [routerLink]="['congedemande'] ">Saisie Une Demande </button>
 <button type="button" class="btn btn-primary btn-space" [routerLink]="['congemodifier']">Modifer Une Demande</button>