<div class="d-flex justify-content-center">
  <button [routerLink]="['add']" class="btn btn-primary mx-4">Create Employee</button>
  <button [routerLink]="['search']" class="btn btn-primary mx-4">Search Employee by ID</button>
  <button [routerLink]="['searchByNom']" class="btn btn-primary mx-4">Search Employee by Surname</button>
  <button [routerLink]="['searchByNameAndSurname']" class="btn btn-primary mx-4">Search Employee by Name and Surname</button>
  <!-- <button [routerLink]="['searchByPoste']" class="btn btn-primary mx-4">Search Employee by Poste</button> -->

  <button (click)="getAllEmployees()" class="btn btn-primary mx-4">All Employees</button>
</div>

<div *ngIf="showEmployees">
  <div *ngFor="let employee of listEmployees">
    <div class="card">
      <div class="card-body">
        <p class="card-text">ID : {{ employee.idEmployee }}</p>
        <h5 class="card-title">Surname : {{ employee.nom }}</h5>
        <p class="card-text">Name : {{ employee.prenom }}</p>
        <p class="card-text">Salary : {{ employee.salaire }}</p>
        <p class="card-text">Leave Balance : {{ employee.soldeConges }}</p>
        <p class="card-text">email : {{ employee.email }}</p>
        <p class="card-text">Role : {{ employee.role }}</p>
        <button (click)="deleteEmployee(employee.idEmployee)" class="btn btn-danger me-4">Delete</button>
        <button (click)="editEmployee(employee)" class="btn btn-warning">Edit</button>

        <div *ngIf="editingEmployee">
          <h3>Edit Employee</h3>
          <form [formGroup]="editForm" (ngSubmit)="updateEmployee()">
            <div class="form-group">
              <label for="nom">Surname</label>
              <input id="nom" formControlName="nom" class="form-control" />
            </div>
            <div class="form-group">
              <label for="prenom">Name</label>
              <input id="prenom" formControlName="prenom" class="form-control" />
            </div>
            <div class="form-group">
              <label for="salaire">Salary</label>
              <input id="salaire" formControlName="salaire" class="form-control" />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input id="password" formControlName="password" class="form-control" />
            </div>
            
            <div class="form-group">
              <label for="email">email</label>
              <input id="email" formControlName="email" class="form-control" />
            </div>
            <div class="form-group">
              <label for="soldeConges">Leave Balance</label>
              <input id="soldeConges" formControlName="soldeConges" class="form-control" type="number" />
            </div>
            <div class="form-group">
              <label for="role">Role</label>
              <input id="role" formControlName="role" class="form-control"  />
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" (click)="cancelEdit()" class="btn btn-secondary">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

  