<form [formGroup]="reclamationForm" (ngSubmit)="onSubmit()" class="reclamation-form">
  <div class="form-group">
    <label for="titre">Titre:</label>
    <input id="titre" formControlName="titre" type="text" class="form-control">
    <div *ngIf="reclamationForm.get('titre')?.invalid && (reclamationForm.get('titre')?.dirty || reclamationForm.get('titre')?.touched)" class="text-danger">
      Titre est requis.
    </div>
  </div>

  <div class="form-group">
    <label for="status">Statut:</label>
    <select id="status" formControlName="status" class="form-control">
      <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>
    </select>
    <div *ngIf="reclamationForm.get('status')?.invalid && (reclamationForm.get('status')?.dirty || reclamationForm.get('status')?.touched)" class="text-danger">
      Statut est requis.
    </div>
  </div>

  <div class="form-group">
    <label for="categorie">Catégorie:</label>
    <input id="categorie" formControlName="categorie" type="text" class="form-control">
    <div *ngIf="reclamationForm.get('categorie')?.invalid && (reclamationForm.get('categorie')?.dirty || reclamationForm.get('categorie')?.touched)" class="text-danger">
      Catégorie est requise.
    </div>
  </div>

  <div class="form-group">
    <label for="dateCreationDate">Date de création:</label>
    <input id="dateCreationDate" formControlName="dateCreationDate" type="date" class="form-control">
    <div *ngIf="reclamationForm.get('dateCreationDate')?.invalid && (reclamationForm.get('dateCreationDate')?.dirty || reclamationForm.get('dateCreationDate')?.touched)" class="text-danger">
      Date de création est requise.
    </div>
  </div>

  <div class="form-group">
    <label for="dateCreationTime">Heure de création:</label>
    <input id="dateCreationTime" formControlName="dateCreationTime" type="time" class="form-control">
    <div *ngIf="reclamationForm.get('dateCreationTime')?.invalid && (reclamationForm.get('dateCreationTime')?.dirty || reclamationForm.get('dateCreationTime')?.touched)" class="text-danger">
      Heure de création est requise.
    </div>
  </div>

  <div class="form-group">
    <label for="description">Description:</label>
    <textarea id="description" formControlName="description" class="form-control"></textarea>
    <div *ngIf="reclamationForm.get('description')?.invalid && (reclamationForm.get('description')?.dirty || reclamationForm.get('description')?.touched)" class="text-danger">
      Description est requise.
    </div>
  </div>

  <button type="submit" [disabled]="!reclamationForm.valid" class="btn btn-primary">Soumettre</button>
</form>
