<h3>Search Employee by Name</h3>
<form [formGroup]="searchForm" (ngSubmit)="searchEmployeeByName()">
  <div class="form-group">
    <label for="nom">Nom</label>
    <input id="nom" formControlName="nom" class="form-control" />
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>

<div *ngIf="searchResults">
  <h3>Search Results</h3>
  <div class="card">
    <div class="card-body">
      <p class="card-text">ID : {{ searchResults.idEmployee }}</p>
      <h5 class="card-title">Nom : {{ searchResults.nom }}</h5>
      <p class="card-text">Prenom : {{ searchResults.prenom }}</p>
      <p class="card-text">Salaire : {{ searchResults.salaire }}</p>
      <p class="card-text">Solde de Conge : {{ searchResults.soldeConges }}</p>
      <p class="card-text">Equipe : {{ searchResults.equipe }}</p>
      <p class="card-text">Manager : {{ searchResults.manager }}</p>
    </div>
  </div>
</div>
