<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h3 class="text-center mb-4">Search Employee by Name</h3>
      <form [formGroup]="searchForm" (ngSubmit)="searchEmployeeByName()" class="shadow p-4 rounded bg-light">
        <div class="form-group mb-3">
          <label for="nom" class="form-label">Nom</label>
          <input id="nom" formControlName="nom" class="form-control" />
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary btn-block">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div *ngIf="searchResults">
  <h3>Search Results</h3>
  <div class="card">
    <div class="card-body">
      <p class="card-text">ID : {{ searchResults.idEmployee }}</p>
      <h5 class="card-title">Surname : {{ searchResults.nom }}</h5>
      <p class="card-text">Name : {{ searchResults.prenom }}</p>
      <p class="card-text">Salary : {{ searchResults.salaire }}</p>
      <p class="card-text">Leave Balance : {{ searchResults.soldeConges }}</p>
      <p class="card-text">Team : {{ searchResults.equipe }}</p>
      <p class="card-text">Manager : {{ searchResults.manager }}</p>
      <p class="card-text">Role:{{searchResults.role}}</p>
    </div>
  </div>
</div>
